.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  max-width: 1px; // max-width prevents content from expanding cell
  overflow: hidden;
}

th.mat-column-index,
td.mat-column-index {
  width: 10%;
}

th.mat-column-search,
td.mat-column-panel {
  width: 25%;
}

th.mat-column-searchDate,
td.mat-column-active {
  width: 25%;
}
