<div>
  <div class="component-header-container">
    <div class="component-header">
      <div>Password Check</div>
      <div>Searching by range</div>
    </div>
  </div>

  <div class="outside-component-container">
    <div>
      <div class="form-header">Enter password to search below:</div>
      <div class="flex">
        <input matInput class="form-input" placeholder="Enter Password">
        <button mat-raised-button class="form-button">
          <mat-icon aria-label="Domain Check" class="material-icons-outlined icon">search</mat-icon>
          <span>Search</span>
        </button>
      </div>
    </div>

    <div *ngIf="output">
      <div class="form-output-container">
        <div>

        </div>
      </div>
    </div>
  </div>
</div>