<div>
  <div class="component-header-container">
    <div class="component-header">
      <div>Get all breaches or search by account</div>
      <div>Account Check</div>
    </div>
  </div>

  <div class="outside-component-container">
    <div>
      <div class="form-header">Enter account to search below:</div>
      <div class="flex">
        <input
          matInput
          class="form-input"
          placeholder="Ex. Adobe"
          [(ngModel)]="inputSearch"
          (keyup.enter)="search()"
        />

        <button mat-raised-button class="form-button" (click)="search()">
          <mat-icon class="material-icons-outlined icon">search</mat-icon>
          <span>Search</span>
        </button>

        <button mat-raised-button class="form-button-opp" (click)="clear()">
          <mat-icon class="material-icons-outlined icon">close</mat-icon>
          <span>Clear</span>
        </button>

        <div class="or-text">OR</div>

        <button mat-raised-button class="form-button" (click)="searchAll()">
          <mat-icon class="material-icons-outlined icon">search</mat-icon>
          <span>Search All</span>
        </button>
      </div>
    </div>

    <div *ngIf="searchResults">
      <div class="results-header">
        Found {{ searchResults.length }} results with this account!
      </div>

      <div *ngFor="let result of searchResults">
        <div class="form-output-container">
          <div class="image-header">
            <img src="{{ result.LogoPath }}" class="image" />

            <div class="acc-head-container">
              This account was breached
              {{ result.PwnCount | number : "1.0" : "en-US" }} times!
            </div>

            <div class="acc-res-container">
              This breach is {{ result.IsVerified ? "" : "not" }} verified
            </div>
          </div>

          <div class="grid-container">
            <div class="grid-item">
              <div class="acc-label">Name</div>
              <div class="acc-res-container">{{ result.Name }}</div>
            </div>

            <div class="grid-item">
              <div class="acc-label">Title</div>
              <div class="acc-res-container">{{ result.Title }}</div>
            </div>

            <div class="grid-item">
              <div class="acc-label">Domain</div>
              <div class="acc-res-container">{{ result.Domain }}</div>
            </div>

            <div class="grid-item">
              <div class="acc-label">Breached Data</div>
              <div class="acc-res-container">{{ result.BreachDate }}</div>
            </div>

            <div class="grid-item">
              <div class="acc-label">Date Added</div>
              <div class="acc-res-container">
                {{ result.AddedDate | date : "d MMM y, h:mm:ss a" }}
              </div>
            </div>

            <div class="grid-item">
              <div class="acc-label">Last Modified</div>
              <div class="acc-res-container">
                {{ result.ModifiedDate | date : "d MMM y, h:mm:ss a" }}
              </div>
            </div>
          </div>

          <div>
            <div class="acc-label">Description</div>
            <div class="acc-des-container">{{ result.Description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
