.image-header {
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.image {
  background-color: rgb(58, 58, 58);
  border-radius: 8px;
  border: solid 1px white;
  max-width: 300px;
  max-height: 150px;
  padding: 8px;
}

.acc-head-container {
  background-color: rgb(58, 58, 58);
  border-radius: 8px;
  border: solid 1px white;
  height: 58px;
  padding: 8px;
  font-size: 26px;
  font-weight: bolder;
}

.acc-res-container {
  background-color: rgb(58, 58, 58);
  border-radius: 8px;
  border: solid 1px white;
  height: 44px;
  padding: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 8px;
}

.acc-des-container {
  background-color: rgb(58, 58, 58);
  border-radius: 8px;
  border: solid 1px white;
  padding: 8px;
}

.acc-label {
  font-size: large;
  font-weight: 900;
}

.or-text {
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  margin-left: 12px;
}
